body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid grey;
  margin: 0 auto;
}
#cabecera
{
  background: blue;
  color: azure;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}

#container h1 {
  font-size: 20px;
}
